{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title></title>
        <link rel="stylesheet" type ="text/css" href="/static/css/rash-guard.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <center>
        <body>
    <div class="container">
        <div class="navbar">
            <img src="../pictures/logos.jfif" class="logo">
            <table border="0">
                <tr>
                    <td colspan="4">
                        <h1>Rash Guards</h1>
                    </td>
                </tr>
                <tr>
                    <td width="5%"><br></td>
                    <td width="25%">
                        <img src="../pictures/rashguards/r1.png">
                        <p>Name:Aritha</p>
                        <p>Price:649</p>
                    </td>
                    <td width="25%">
                        <img src="../pictures/rashguards/r2.png">
                        <p>Name:Amethyst</p>
                        <p>Price:649</p>
                    </td>
                    <td width="25%">
                        <img src="../pictures/rashguards/r3.png">
                        <p>Name:Aqua</p>
                        <p>Price:549</p>
                    </td>
                </tr>
                <tr>
                    <td width="5%"><br></td>
                    <td>
                        <img src="../pictures/rashguards/r4.png">
                        <p>Name:Oceana</p>
                        <p>Price:799</p>
                    </td>
                    <td>
                        <img src="../pictures/rashguards/r5.png">
                        <p>Name:Luxe</p>
                        <p>Price:799</p>
                    </td>
        
                </tr>
            </table>
            </body>
            </center>
        </html>


{% endblock %}