{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title></title>
        <link rel="stylesheet" type ="text/css" href="/static/css/swimsuit.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        
    </head>
    <center>
        <body>
    <div class="container">
        <div class="navbar">
            <img src="/pictures/logos.jfif" class="logo">
            <table border="0">
                <tr>
                    <td colspan="4">
                        <h1>Swimsuits</h1>
                    </td>
                </tr>
                <tr>
                    <td width="5%"><br></td>
                    <td width="25%">
                        <img src="../pictures/swimsuits/s1.png">
                        <p>Name:Valentine</p>
                        <p>Price:499</p>
                    </td>
                    <td width="25%">
                        <img src="../pictures/swimsuits/s2.png">
                        <p>Name:Beth</p>
                        <p>Price:499</p>
                    </td>
                    <td width="25%">
                        <img src="../pictures/swimsuits/s3.png">
                        <p>Name:Tiffany</p>
                        <p>Price:549</p>
                    </td>
                </tr>
                <tr>
                    <td width="5%"><br></td>
                    <td>
                        <img src="../pictures/swimsuits/s4.png">
                        <p>Name:Shakira</p>
                        <p>Price:549</p>
                    </td>
                    <td>
                        <img src="../pictures/swimsuits/s5.png">
                        <p>Name:Poppy</p>
                        <p>Price:399</p>
                    </td>
    
                </tr>
            </table>
     
        </body>
        </center>
    </html>

{% endblock %}