{% extends 'base.html' %}

{% block content %}
<html lang="en" dir="ltr">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BLISHOP</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="../pictures/logos.jfif" class="logo">

            <div class="row">
                <div class="col">
                    <h1>WEEKEND SALE</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                        anim id est laborum</p>
                </div>
                <div class="colu">
        
                    <table border="0">
                        <tr>
                            <td>
                                <div class="card card1">
                                    <h5>RUSH GUARD</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </td>
        
                            <td>
                                <div class="card card2">
                                    <h5>SWIMSUIT</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </td>
        
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <div class="card card3">
                                    <h5>SPORTS BRAS</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        
        
        </body>
        
        
        </html>s

{% endblock %}