<html>
    <head>
        <title></title>
        <link rel="stylesheet" type ="text/css" href="/static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <center>
        <body>
    <div class="container">
        <div class="navbar">
            <img src="../pictures/logos.jfif" class="logo">
        <nav>
            <ul>
                <li> <a href="index.html"><i class="fa fa-home"></i> HOME</a></i></li>
                <li> <a href="shopnow.html"><i class="fa fa-shopping-cart"></i> SHOP NOW</a>
                
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="swimsuit.html">SWIMSUIT</a></li>
                            <li><a href="rush-guard.html">RUSH GUARD</a></li>
                            <li><a href="sports-bra.html">SPORTS BRA</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="about us.html"><i class="fa fa-users"></i> ABOUT US</a>

                    <div class="sub-menu-3">
                        <ul>
                            <li><a href="#">VISION</a></li>
                            <li><a href="#">MISSION</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="contact.html"><i class="fa fa-phone"></i> CONTACT</a>
                
                    <div class="sub-menu-4">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100081683234828" target="_blank"><i class="fa fa-facebook-official"></i> FACEBOOK</a></li>
                            <li><a href="mailto:blishophere@gmail.com"><i class="fa fa-envelope"></i> EMAIL</a></li>
                            <li><a href="https://www.instagram.com/blishop_found/" target="_blank"><i class="fa fa-instagram"></i> INSTAGRAM</a></li>
                            <li><a href="https://twitter.com/blis_shop" target="_blank"><i class="fa fa-twitter"></i> TWITTER</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="login.html"><i class="fa fa-user"></i> LOG IN</a>
                
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#"><i class="fa fa-sign-in"></i>LOG IN</a></li>
                            <li><a href="#"><i class="fa fa-user-plus"></i>SIGN UP</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    
    </div>
        <img src="../pictures/shop.jpg" width="1000" height="300" alt="">
    </body>
    </center>
</html>